{% extends 'blog/base.html' %}

{% block content %}
                  {% for post in posts %}
        <div>
          <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        </div>
        <div id="floatdv">
          <ul>
            <a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/whatst_durango?ref_src=twsrc%5Etfw">Tweets by whatst_durango</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </ul>
        </div>
                {% endfor %}
{% endblock %}
