{% load staticfiles %}
<html>
    <head>
        <title>Coin Box</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <h1><a href="">Coin Box</a></h1>
            <h2><a href="https://m.naver.com">test용 nav</a></h2>
        </div>
        <div>
          {% for post in posts %}
          <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}
        </div>

        <div>
            <p>published: 12.01.2018, 12:14</p>
            <h2><a href="">두번째 포스트</a></h2>
            <p>Second Post.</p>
        </div>
        <div id="floatdv">
          <ul>
            <a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/whatst_durango?ref_src=twsrc%5Etfw">Tweets by whatst_durango</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </ul>
        </div>
    </body>
</html>
