<html>
    <head>
        <title>Coin Box</title>
    </head>
    <body>
        <div>
            <h1><a href="">Coin Box</a></h1>
        </div>

        <div>
          {% for post in posts %}
          <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}
        </div>

        <div>
            <p>published: 12.01.2018, 12:14</p>
            <h2><a href="">두번째 포스트</a></h2>
            <p>Second Post.</p>
        </div>
    </body>
</html>
