h1 a {
    color: #FCA205;
}
body {
    padding-left: 15px;
}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
#floatdv{
position:fixed; _position: absolute; _z-index: -1;
width: 240px;
overflow: hidden;
right: 11px;
top: 50px;
background-color: transparent;
margin: 0;
padding: 0;
}
#floatdv ul {list-style: none;}
#floatdv li{margin-bottom: 2px; text-align: center;}
#floatdv a {color: #5D5D5D; border: 0; text-decoration: none; display: block;}
#floatdv a:hover, #floatdv .menu {background-color: #5D5D5D; color: #fff;}
#floatdv .menu, #floatdv .last {margin-bottom: 0px;}
